body {
	background: #111;
	font-family: sans-serif;
	color: #222;
	overflow: hidden;
}
#main-container {
	height: 100%;
	width: 100%;
}
#tier-container {
	background-image: linear-gradient(to bottom, red 0%, red 7%, orange 18%, orange 30%, yellow 40%, yellow 46%, #00ff00 54%, #00ff00 63%, #005aff 73%, #005aff 77%, #3e00d4 90%, #3e00d4 100%);
	filter: grayscale(0.25);
	border-radius: 20px 21px 27px 20px;
}
.tier-row:first-child > .tier-body {
	border-radius: 0 20px 0 0;
}
.tier-row:last-child > .tier-body {
	border-radius: 0 0 20px 0;
}
.tier-row {
	height: 13%;
	width: 100%;
	display: flex;
	border-bottom: solid 2px #111;
}
.tier-label {
	align-items: center;
    justify-content: center;
	display: flex;
    min-height: 80px;
	min-width: 80px;
	width: 13vh;
    border-right: solid 2px #111;
	box-shadow: #111 -26px 0px 0 0px;
	border-radius: 20px 0 0 20px
}
.tier-label > span {
	overflow: hidden;
    text-align: center;
    margin: 5px;
	font-weight: bold;
	font-size: 4vh;
	text-shadow: 1px 1px 1px #00000040, -1px -1px 1px #ffffff40;
}
.tier-body {
	flex: 1;
	background: #191919fa;
}
#draggable-items {
	display: flex;
	flex-wrap: wrap;
}
.draggable {
	height:	8vh;
	width: 8vh;
    background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
    flex: none;
    cursor: pointer;
}